<div class="toolbox">
    <div class="header">Toolbox</div>
    
    <ToolboxLabel Title="Rectangle"
                  IconClass="bi bi-square"
                  DataContext="DataContext" />



    <ToolboxLabel Title="Circle"
                  IconClass="bi bi-circle"
                  DataContext="DataContext" />


    <ToolboxLabel Title="Ellipse"
                  IconClass="bi-egg"
                  DataContext="DataContext" />



    <ToolboxLabel Title="Text"
                  IconClass="bi bi-chat-left-text"
                  DataContext="DataContext" />



</div>
