<div draggable="true"
     @ondragstart="OnDragStart"
     class="toolboxLabel">
    @if (!string.IsNullOrEmpty(IconClass))
    {
        <i class="@IconClass"></i><span>&nbsp;</span>
    }
    @Title
</div>


