<div class="editor">
    <div class="toolbox">
        <ShapeToolbox DataContext="DataContext.DiagramViewModel" />
    </div>
    <div class="toolbar">
        <EditorToolbar DataContext="DataContext.DiagramViewModel" />
    </div>
    <div class="diagram">
        <Diagram DataContext="DataContext.DiagramViewModel" />
    </div>
</div>
