.editor {
    display: grid;
    grid-template-columns: 150px auto;
    grid-template-rows: 40px 1fr;
    max-height: 300px;
}

.toolbox {
    grid-column: 1;
    grid-row-start: 1;
    grid-row-end: 2;
}

.toolbar {
    grid-column: 2;
    grid-row: 1;
}

.diagram {
    grid-row: 2;
    grid-column: 2;
}

