<div class="btn-group">

    <button class="btn btn-outline-secondary" type="button"
            @onclick="BringTofront">
        <i class="bi bi-front"></i>
    </button>

    <button class="btn btn-outline-secondary" type="button"
            @onclick=" SendBackward">

        <i class="bi bi-back"></i>
    </button>

    <button type="button" class="btn btn-outline-danger"
            @onclick="DeleteSelected">
        <i class="bi bi-trash"></i>
    </button>


</div>

